---
import Layout from "../../layouts/Layout.astro";
import Editor from "../../components/Editor.jsx";
---

<Layout title="Curriculum Builder">
    <main class="mx-auto">
        <Editor client:load />
    </main>
</Layout>
